body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  width: 414px;
  height: 414px;
  border-radius: 10px;
  background-color:   hsl(213, 19%, 18%);


}

.list-btn{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid orange;
  position: relative;
  top: 65%;

 padding: 0;
 width: 414px;



}

li{
  width: 45px;
  height: 45px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}